<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.scholarship.mapper.ApplicationMapper">

    <select id="searchAll" resultType="team.scholarship.bean.Application">
        SELECT * FROM application
        ORDER BY usr_gpa DESC
    </select>

    <select id="searchByUser" resultType="team.scholarship.bean.Application">
        SELECT * FROM application WHERE usr_id = #{userID}
        ORDER BY usr_gpa DESC
    </select>

    <select id="searchByYear" resultType="team.scholarship.bean.Application">
        SELECT * FROM application WHERE scholar_year = #{year}
        ORDER BY usr_gpa DESC
    </select>

    <select id="searchByScholar" resultType="team.scholarship.bean.Application">
        SELECT * FROM application WHERE scholar_name = #{scholarName}
        ORDER BY usr_gpa DESC
    </select>

    <select id="searchByUserAndYear" resultType="team.scholarship.bean.Application">
        SELECT * FROM application
        WHERE usr_id = #{userID} AND scholar_year = #{year}
        ORDER BY usr_gpa DESC
    </select>

    <select id="searchByUserAndScholar" resultType="team.scholarship.bean.Application">
        SELECT * FROM application
        WHERE usr_id = #{userID} AND scholar_name = #{scholarName}
        ORDER BY usr_gpa DESC
    </select>

    <select id="searchByYearAndScholar" resultType="team.scholarship.bean.Application">
        SELECT * FROM application
        WHERE scholar_year = #{year} AND scholar_name = #{scholarName}
        ORDER BY usr_gpa DESC
    </select>

    <select id="search" resultType="team.scholarship.bean.Application">
        SELECT * FROM application
        WHERE usr_id = #{userID} AND scholar_year = #{year} AND scholar_name = #{scholarName}
        ORDER BY usr_gpa DESC
    </select>

    <insert id="addApplication">
        INSERT INTO application
        VALUES (#{userID}, #{year}, #{scholarName}, #{userName},
                #{userGpa}, null, #{award}, #{reason},  #{canAdjust}, "待审核")
    </insert>

    <delete id="deleteApplication">
        DELETE FROM application
        WHERE usr_id = #{userID} AND scholar_year = #{year} AND scholar_name = #{scholarName}
    </delete>


    <update id="updateInfo">
        UPDATE application
        SET usr_gpa = #{userGpa}, award = #{award}, reason = #{reason}, can_adjust = #{canAdjust}
        WHERE usr_id = #{userID} AND scholar_year = #{year} AND scholar_name = #{scholarName}
    </update>

    <update id="updateScore">
        UPDATE application
        SET usr_score = #{score}
        WHERE usr_id = #{userID} AND scholar_year = #{year} AND scholar_name = #{scholarName}
    </update>

    <update id="updateStatus">
        UPDATE application
        SET status = #{status}
        WHERE usr_id = #{userID} AND scholar_year = #{year} AND scholar_name = #{scholarName}
    </update>

    <select id="getAllPassed" resultType="Application">
        SELECT * FROM application
        WHERE status = '审核通过'
    </select>

</mapper>